@import 'tailwindcss';
@import 'fumadocs-ui/css/shadcn.css';
@import 'fumadocs-ui/css/preset.css';
@import "tw-animate-css";

/* Removed @custom-variant as it is not recognized */

:root {
    --radius: 0.625rem;
    --color-fd-background: hsl(0, 0%, 100%);
    --signature-color-1: #a0312d;
    --signature-color-2: #FCF7F4;
    --tc: #00ff8c;
    --color-warning: var(--tc);
    --color-warning-foreground: var(--warning-foreground);
    --color-fd-background: var(--signature-color-1);
    --background: #2b2d31;
    --foreground: var(--signature-color-2); /* accordion etc..*/
    --card: var(--signature-color-1);
    --card-foreground: var(--signature-color-2);
    --popover: #2b2d31;
    --popover-foreground: var(--signature-color-2);
    --primary: var(--signature-color-2);
    --primary-foreground: #fdfdfd;
    --secondary: #a0312d; /* search bar, step dot, etc... */
    --secondary-foreground: var(--signature-color-2); /* step number, etc... */
    --muted: var(--signature-color-1); /* code highlight box */
    --muted-foreground: #ffffff75;
    --accent: #a0312d;
    --accent-foreground: #ffffff;
    --destructive: #a0312d;
    --border: #84221e;
}

@layer base {
    * {
        border: var(--border);
        outline: 50% solid var(--ring);
    }

    body {
        background-color: var(--background);
        color: var(--foreground);
    }
}

/*-------- Signature Fonts ---------*/
@font-face {
    font-family: 'PmPmFont';
    src: url('/fonts/gg_black.ttf') format('truetype');
}

.font-1 {
    font-family: 'PmPmFont', system-ui;
    letter-spacing: 0.7px;
    font-weight: lighter;
}

/*-------- Some components -------*/

.noteBox { 
    border: 1px solid; 
    border-radius: 5px; 
    padding: 10px;
    margin: 10px 0; 
    width: 100%;
    border-color: #a0312d; 
    background-color: rgba(231, 111, 81, 0.1); 
} 

/*--------- Currency Icons --------*/

.coin-icon {
    width: 25px;
    height: 25px;
    background-image: url('/image/pmpm-coin.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    bottom: -7px;
  }
  

.dice-icon {
    width: 25px;
    height: 25px;
    background-image: url('/image/pmpm-dice.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    bottom: -7px;
}

.credit-icon {
    width: 25px;
    height: 25px;
    background-image: url('/image/pmpm-credit.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    bottom: -7px;
}

.box-icon {
    width: 25px;
    height: 25px;
    background-image: url('/image/pmpm-box.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    bottom: -7px;
}