@import 'tailwindcss';
@import 'fumadocs-ui/css/shadcn.css';
@import 'fumadocs-ui/css/preset.css';
@import "tw-animate-css";

/* Removed @custom-variant as it is not recognized */

:root {
    --color-fd-background: hsl(0, 0%, 100%);
    --signature-color-1: #a0312d;
    --signature-color-2: #FCF7F4;
    --tc: #00ff8c;
    --color-warning: var(--tc);
    --color-warning-foreground: var(--warning-foreground);
    --color-fd-background: var(--signature-color-1);
    --background: #2b2d31;
    --foreground: var(--signature-color-2); /* accordion etc..*/
    --card: var(--signature-color-1);
    --card-foreground: var(--signature-color-2);
    --popover: #2b2d31;
    --popover-foreground: var(--signature-color-2);
    --primary: #ffffff;
    --primary-foreground: #fdfdfd;
    --secondary: #a0312d; /* search bar, step dot, etc... */
    --secondary-foreground: var(--signature-color-2); /* step number, etc... */
    --muted: #762320; /* code highlight box */
    --muted-foreground: #ffffff75;
    --accent: #a0312d;
    --accent-foreground: #ffffff;
    --destructive: #4000ff;
    --border: #84221e;
    --input: var(--tc);
    --ring: #c8ff00;
    --chart-1: #f4ff1b;
    --chart-2: #f4ff1b;
    --chart-3: #f4ff1b;
    --chart-4: #f4ff1b;
    --chart-5: #f4ff1b;
    --sidebar: #f4ff1b;
    --sidebar-foreground: #a0312d;
    --sidebar-primary: #000000;
    --sidebar-primary-foreground: #f4ff1b;
    --sidebar-accent: #f4ff1b;
    --sidebar-accent-foreground: #fff;
    --sidebar-border: #f4ff1b;
    --sidebar-ring: #6f211e;
}

@layer base {
    * {
        border: var(--border);
        outline: 50% solid var(--ring);
    }

    body {
        background-color: var(--background);
        color: var(--foreground);
    }
}

/*-------- Signature Fonts ---------*/
@font-face {
    font-family: 'PmPmFont';
    src: url('/fonts/gg_black.ttf') format('truetype');
}

.font-1 {
    font-family: 'PmPmFont', system-ui;
    letter-spacing: 0.7px;
    font-weight: lighter;
}

/*-------- Some components -------*/

.noteBox { 
    border: 1px solid; 
    border-radius: 5px; 
    padding: 10px;
    margin: 10px 0; 
    width: 100%;
    border-color: #a0312d; 
    background-color: rgba(231, 111, 81, 0.1); 
} 

/*--------- Currency Icons --------*/

  